.clear {
    clear:both;
}
#parentdiv {
    float: left;
    height: 100%;
    width: 100%;
}
#wrapper {
    float:left;
}
#motherboard {
    margin-top: 25px;
    margin-left: 50px;
    height: 250px;
    width: 188px;
    background-image: url("images/motherboard.png");
    background-size: 100%;
    cursor:pointer;
}
#chassis {
    height: 370px;
    width: 348px;
    background-image: url("images/empty-chassis_side.png");
    background-size: 100%;
    float: left;
}
#mbmount {
    height: 150px;
    width: 75px;
    margin-top:195px;
    margin-left:125px;

}

#popup {
   data-role="popup"
}